div
  table
    tbody
      each post, i in stories
        tr
          td 
            a(href=post.url) #{post.title} 
            submitted by 
            a(href='https://news.ycombinator.com/user?id='+post.author) #{post.author}
          td 
            a(href='https://news.ycombinator.com/item?id='+post.id) #{post.num_comments} comments