body {
    font: 10px sans-serif;
    margin: 10px;
    font-family: 'San Francisco', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10pt;
    color: #828282;
}
footer {
    float: right;
    height: 35px;
    margin: 0px 50px 0px 0px;
    color: #000;
    text-align: right;
    padding: 10px 30px;
}
path.line {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}
path.area {
    fill: #e7e7e7;
}
.axis {
    shape-rendering: crispEdges;
}
.x.axis line {
    stroke: #fff;
}
.x.axis .minor {
    stroke-opacity: .5;
}
.x.axis path {
    display: none;
}
.y.axis line,
.y.axis path {
    fill: none;
    stroke: #000;
}
.legend rect {
    fill: white;
    stroke: black;
    opacity: 0.8;
}
#graph {
    width: 100%;
    height: 400px;
}
#terms {
    margin: 15px;
}
#form,
#posts {
    margin-left: 15px;
}
.intro {
    margin: 40px;
}
ul {
    list-style-type: none;
}
.term {
    cursor: pointer;
    border-radius: 25px;
    background: #8AC007;
    margin: 5px;
    padding: 10px;
    color: white;
}
.flexcontainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.title {
    font-size: 2em;
}
.word {
    font-style: italic;
    padding: 5px;
}
ul li a {
    display: inline-block;
    padding: 10px 0 0;
}
ul li a:link {
    color: #3C3939;
}
ul li a:visited {
    color: #3C3939;
}
td {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
}
input {
    font-family: monospace;
    font-size: 10pt;
    color: #000000;
}
input[type=\"submit\"] {
  font-family: Verdana, Geneva, sans-serif;
}
a:link {
    color: #000000;
    text-decoration: none;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 50%);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 23px;
}
a:visited {
    color: #828282;
    text-decoration: none;
}
.example-heading {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 100;
}
